@model IEnumerable<FileShared> 



    <partial name="sidebbar" />
<div class="home-section">
    <div class="contain">
        <div class="cont">
        <table class="table border table-striped">
            <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        DocumentName
                    </th>
                    <th>
                        SendedTO
                    </th>
                    <th>
                        time
                    </th>
                </tr>
            </thead>
            <tbody>
                @{
                    int count = 0;
                }
                @foreach (var item in Model)
                {

                    count = count + 1;
                    <tr>
                        <td>@count</td>
                        <td>@item.Document.DocumentContentName</td>
                        <td>@item.Receiver.Name</td>
                        <td>@item.FileSentAt.ToShortDateString()</td>
                    <td>
                        <a asp-controller="FileShareded" asp-action="ManageShared" asp-route-id="@item.Id" class="btn btn-primary">manageper</a>
                    </td>
                    <td>
                        <form asp-action="Delete" asp-route-id="@item.Id">
                                    <button class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this?')" type="submit"><i class="bi bi-trash3"></i> </button>
                        </form>
                    </td>
                    </tr>
                    
                }

            </tbody>

        </table>

    </div>
 </div>
</div>
</div>



@*<table class="table border table-striped">
    <thead>
        <tr>
            <th>
               #
            </th>
            <th>
                DocumentName
            </th>
            <th>
                SendedTO
            </th>
            <th>
                time
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            int count = 0;
        }
        @foreach(var item in Model){

            count = count + 1;
            <tr>
                <td>@count</td>
                <td>@item.Document.DocumentContentName</td>
                <td>@item.Receiver.Name</td>
                <td>@item.FileSentAt.ToShortDateString()</td>
            </tr>
           
        }
       
    </tbody>

    </table>*@